*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  border-bottom: 5px solid #fccc8ddb;
}
.nav {
  border-bottom: 1px solid #fccc8d7d;
}
.navbar {
  a {
    color: white;
    display: inline-block;
    position: relative;
  }
  .items a:hover {
    border-bottom: 1px solid #fccc8d;
    color: #fccb8d;
  }
}
.marca {
  width: fit-content;
  border-bottom: 1px dashed white;
}

.collage {
  height: 600px;
  &__img {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    &--bg {
      max-width: 700px;
      width: 100%;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
    }
    &--person {
      left: 50%;
      height: 100%;
      transform: translate(-50%, 50px);
    }
    &--text {
      max-width: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.cuadros-decorativos{
    right: 300px;
}



.text-3{
  padding-bottom: 50px;
}

.campo-info{
  border-radius: 0 !important;
  background-color: #E9E8E9 !important;
}

.campo-btn{
  background-color: #FCCB8D !important;
  border-radius: 0 !important;
  border: none !important;
}


@media only screen and (min-width: 700px) {
  .collage__img--bg {
    transform: translate(-50%, -100px);
  }
}

@media only screen and (min-width: 1000px){
  .article-2{
    background-image: url("../images/bg-asset-2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .article-2 > div{
    width: 50%;
    padding-left: 100px;
  }
  
  .text-2{
    max-width: 300px;
    font-size: 14px;
    margin: 20px 0px;
    color: white;
    opacity: 50%;
  }
  
  .text-3{
    transform: translate(-100px, 95px);
  }
  
  .asset-2{
    height: 400px;
    transform: translateY(-100px);
  }
}